
.inputClass {
  display: block;
}

.fontIconClass {
  display: inline;
  font-size: 1.3em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

.loginButton {
  width: 100%;
}


.spinner {
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: calc(50% - 3rem);
  margin-left: -4.5rem; /* Divide value of min-width by 2 */  
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar1 {
  min-width: 25vw;
  max-width: 90vw;
  margin-left: -13vw; /* Divide value of min-width by 2 */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar {
  left: 0;
  margin: auto; // Centers alert component
  position: absolute; // So that it will display relative to the entire page
  right: 0;
  text-align: center; // Centers 'Alert Test' text
  bottom: -12em;
  width: 80%;
  z-index: 1; // Displays over app and bootstrap Navbar
}