.modal-outer-container {
  z-index: 1;
}

.modal-dialog-centered {
}

.inputClass {
  display: block;
}

.fontIconClass {
  display: inline;
  font-size: 1.3em;
  margin-right: 15px;
}

.loginButton {
  width: 100%;
}


.spinner {
  position: fixed; /* Sit on top of the screen */
  z-index: 2; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: calc(50% - 3rem);
  margin-left: -4.5rem; /* Divide value of min-width by 2 */  
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  left: 0;
  margin: auto; // Centers alert component
  position: absolute; // So that it will display relative to the entire page
  right: 0;
  text-align: center; // Centers 'Alert Test' text
  bottom: -12em;
  width: 80%;
  z-index: 2; // Displays over app and bootstrap Navbar
}